@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  div.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
}
@media all {
  .ccv5pob {
    display: flex
  }
  .cyt8rhw {
    justify-content: center
  }
  .c1dms4pl {
    align-items: center
  }
  .cvgpo4f {
    background-color: #ffffff
  }
  .c93ii4b {
    position: relative
  }
  .c935tgn {
    text-align: center
  }
  .cb79ubk {
    font-weight: 900
  }
  .c1u4u286 {
    font-size: 8rem
  }
  .c167e3cs {
    line-height: 1
  }
  .cpit7t6 {
    letter-spacing: -0.05em
  }
  .ce6qo75 {
    position: absolute
  }
  .c16w0tgd {
    top: 0
  }
  .c1sgj41u {
    right: -0.125rem
  }
  .c19g25g9 {
    bottom: 0
  }
  .c39qo4n {
    left: 0.125rem
  }
  .c3e9b1a {
    opacity: 0.3
  }
  .c12jfiuu {
    right: 0.125rem
  }
  .cozvvls {
    left: -0.125rem
  }
  .czrb3g0 {
    top: 50%
  }
  .c1n9egz4 {
    left: 0
  }
  .c1gnvmgl {
    width: 100%
  }
  .c16scbyo {
    height: 0.375rem
  }
  .c58yb1 {
    margin-top: 1.5rem
  }
  .c1hv5dn5 {
    font-weight: 700
  }
  .cvu3nh0 {
    font-size: 1.5rem
  }
  .crbyz58 {
    line-height: 2rem
  }
  .c10gx8k4 {
    letter-spacing: 0.05em
  }
  .c1329qqb {
    display: inline-flex
  }
  .c1c0fpeh {
    row-gap: 6px
  }
  .c51i9lm {
    column-gap: 6px
  }
  .c1ozq83l {
    position: fixed
  }
  .c16gl3i6 {
    z-index: 1000
  }
  .cu98j00 {
    padding-top: 6px
  }
  .cyl9wj3 {
    padding-right: 10px
  }
  .c1v122fs {
    padding-bottom: 6px
  }
  .c1na5r85 {
    padding-left: 10px
  }
  .c1hsp06t {
    right: 16px
  }
  .crowzzr {
    bottom: 16px
  }
  .c18ctotk {
    color: rgb(251 252 253 / 1)
  }
  .c1ds9fl7 {
    font-family: system-ui, sans-serif
  }
  .c51wlwl {
    font-size: 12px
  }
  .c1f59e6 {
    font-weight: 500
  }
  .c1fuf4p4 {
    border-top-left-radius: 9px
  }
  .c9cpwsb {
    border-top-right-radius: 9px
  }
  .c1eq5h6z {
    border-bottom-right-radius: 9px
  }
  .cib3nw8 {
    border-bottom-left-radius: 9px
  }
  .c19rgy7g {
    text-decoration-line: none
  }
  .cvhqe91 {
    -webkit-background-clip: padding-box, border-box;
    background-clip: padding-box, border-box
  }
  .c1p291h8 {
    background-origin: padding-box, border-box
  }
  .clrlv9r {
    background-image: linear-gradient(135deg,#4a4efa 0%,#bd2fdb 66%,#ec59ce 100%), linear-gradient(135deg,#92fddc 0%,#7d7ffb 31.94%,#ed72fe 64.24%,#fdd791 100%)
  }
  .c1s8f1tc {
    border: 1px solid transparent
  }
  .c1tibx8n {
    white-space: nowrap
  }
  .c1joyjtq {
    display: block
  }
  .c10vyg5d {
    width: 16px
  }
  .c1kqlqeo {
    height: 16px
  }
  .c1szxbsv {
    flex-shrink: 0
  }
  .c17khswv {
    background-color: rgb(0 0 0 / 0.93)
  }
  .c3uus3z {
    justify-content: start
  }
  .ca9ufrg {
    flex-wrap: wrap
  }
  .c149pe4v {
    color: rgb(184 179 168 / 1)
  }
  .c6cuw2 {
    margin-top: 15em
  }
  .c7zth8p {
    padding-left: 100px
  }
}
@media all and (max-width: 991px) {
  .c1v2f1qs {
    margin-top: 15em
  }
  .c1i0vo57 {
    align-items: center
  }
  .c1yo7qbz {
    justify-content: start
  }
  .c8lhjjr {
    padding-left: 50px
  }
}
@media all and (max-width: 767px) {
  .c1io0du {
    align-items: center
  }
  .cbgh3pr {
    justify-content: start
  }
  .ccmgaj0 {
    padding-left: 50px
  }
}
@media all and (max-width: 479px) {
  .c1qptfq4 {
    padding-left: 50px
  }
  .c1o0tg0t {
    align-items: center
  }
  .c1msjduu {
    justify-content: start
  }
}